# fly.toml app configuration file generated for librebooking-demo on 2025-06-19T22:58:37+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'librebooking-demo'
primary_region = 'iad'

[build]

[env]
  LB_RESET_ON_START= true
  LB_DATABASE_HOSTSPEC = '127.0.0.1'
  LB_DATABASE_NAME = 'librebooking'
  LB_DATABASE_USER = 'librebooking'
  LB_ENV = 'production'
  LB_LOGGING_FOLDER = '/var/log/librebooking'
  LB_LOGGING_LEVEL = 'error'
  TZ = 'UTC'
  LB_SCRIPT_URL = 'https://librebooking-demo.fly.dev/Web'
  RESET_AFTER_SECONDS = 1200

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'